/*����� �������� ����*/
QMainWindow {
    background-color: #2c2f33;
    border-color: #2c2f33;
}


/*����� ������������ ��������� - ������������ ����� ��������*/
QGroupBox#The_center_widget {
    border-style: outset;
    border-width: 0px;
    margin: 1px;
    border: none;
    margin: 0;
    padding: 0;
}   /*����� ����� ������������ ���������*/
    QGroupBox#The_center_widget::title {
        background-color: transparent;
        border-width: 0px;
        padding: 0px;
        border: none;
        /*���� �������*/
        color: transparent;
    }


/*����� ��������� ��� left ��������*/
QGroupBox#MainWidget {
    border-style: outset;
    border-width: 0px;
    margin: 1px;
    border: none;
    margin: 0;
    padding: 0;
}
    /*����� ����� ������������ ���������*/
    QGroupBox#MainWidget::title {
        background-color: transparent;
        border-width: 0px;
        padding: 0px;
        border: none;
        /*���� �������*/
        color: transparent;
    }


/*����� Menu-����*/
QMenuBar {
    /*�����-����� ��� ����*/
    background-color: #212121;
    /*����� ����� ����*/
    color: #FFFFFF;
    /*������� ����*/
    border: 1px solid #444444;
    /*���������� ����� ����������*/
    spacing: 10px;
}
    /*����� ��������� ����-����*/
    QMenuBar::item {
        /*���������� ��� ��� ��������� ����*/
        background-color: transparent;
        /*����� ����� ��������� ����*/
        color: #FFFFFF;
        /*��������� �������*/
        padding: 0 15px;
        /*���������� ����� ��������*/
        margin: 0 5px;
    }
        /*����� ��������� ���� ���� ��� ���������*/
        QMenuBar::item:selected {
            background-color: rgba(255,255,20,50); 
        }

/*����� Menu*/
QMenu {
    /*�����-����� ��� ����������� ����*/
    background-color: #333333;
    /*����� ����� ����������� ����*/
    color: #FFFFFF;
    /*������� ����������� ����*/
    border: 1px solid #555555;
}
    /*����� ��������� Menu ��� ���������*/
    QMenu::item:selected {
        /* ������-����� ��� ��� ��������� */
        background-color: rgba(255,255,20,50);
        /* ����� ����� ��� ��������� */
        color: #FFFFFF;
    }


/*����� menu line*/
QFrame#menuline {
    color: orange;
    background-color: orange;
    height: 4px;
}


/*����� ����� ����� ���������*/
QSplitter#mainhorsplitter::handle {
    background-color: orange; /*#212121; /*#283d3d; /*orange;*/
}
QSplitter#mainhorsplitter::handle:pressed {
    background-color: orangered;
}


/*����� GUI ���������*/
QWidget#GUITerminal {
    border: none;
    border-width: 0px;
    padding: 0px;
    margin: 0;
}
/*����� ����� GUI ���������*/
QLabel#terminal_label {
    color: forestgreen;/*#283d3d; /*white;*/
    font-size: 32px;
    font-weight: bold;
    padding: 0px;
    margin: 0;
}
/*����� ������ �������� GUI ���������*/
QPushButton#close_terminal_button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}
    /*����� ������ �������� GUI ��������� ��� �������*/
    QPushButton#close_terminal_button:hover {
        background-color: rgba(255, 255, 20, 50);
        padding: 0;
        margin: 0;
    }
/*����� ������� ���������*/
QTextEdit#terminal_text_editor {
    color: /*forestgreen*/ white;
    background-color: #212121;
    border: none;
    /* font-family: Courier, monospace; */
    font-family: Menlo, Monaco, Courier, monospace;

    font-size: 32px;
    padding: 10px;
}


/*����� ���-���� ��� ����� ������ ������������ ����� ����������*/
    QToolBar {
    background-color: #212121;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 2px solid;
    border-top-color: orange;
}
/*����� ������ ���-����*/
QToolButton {
    border: 2px;
    background-color: #212121;
    border-radius: 16px;
    margin: 10px;
    color: #283d3d;
    margin-top: 15px;
}
    /*����� ������ ���-���� ��� ���������*/
    QToolButton:hover {
        background-color: rgba(255,255,20,50);
        color: darkorange;
    }
        /*����� ������ ������ ���-���� ��� ���������*/
        QToolButton:hover QIcon {
        }
    /*����� ������ ���-���� ��� �������*/
    QToolButton:pressed {
        padding: 4px;
        color: green;
    }


/*����� ��� ������� ������� ���������� � �����*/
QDockWidget{
    /*font-family: "monospace";*/
    /* font-family: Courier, monospace; */
    font-family: Menlo, Monaco, Courier, monospace;

    font-size: 10pt;
    color: #283d3d; 
    border-width: 5px;
    background-color: #212121;
    border-color: #212121;
    padding-left: 1px;
    padding-top: 10px;
    margin: 5px;
}
    /*����� ����� ��� ������� ������� ���������� � �����*/
    QDockWidget:title {
        background-color: #212121;
        border-color: #212121;
        border-radius: 1px;
        margin-top: 8px;
    }
    /*����� ����������(���������� QGroupBox) � ���� ���-������� */
    QGroupBox#dashborder {
        border: 5px solid #212121; 
        margin-top: 0px; 
        margin-bottom: 0px;
        margin-right: 0px;
    }




/* ----------MODELS STYLESHEETS---------------*/

/*Usage models styles:*/

/*Styles of Left of Usage models*/
QGroupBox#gbox_usage_left {
    background-image: url('AFI.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
}
    QGroupBox#gbox_usage_left:title {
        subcontrol-origin: margin;
        subcontrol-position: top center;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0px;
        border: none;
    }

/*Styles of right of Usage models*/
QLabel#usage_right_label {
    /*  #283d3d ������� ��� */
    background-color: #212121;
    /* ����� ����� */
    color: white;
    /* ������������ ���� */
    border-radius: 50px;
    /* ���������� ������� */
    padding: 15px;
    /* ������ ������ */
    font-size: auto;
}

QCheckBox#usage_right_checkbox {
    /* ������ ������ */
    font-size: auto;
    color: white;
}

/*��������� ������*/
QPushButton#right_btn_accept {
    /* �������� ��������� ������ */
    background-color: gray;
    color: white;
    border-radius: 15px;
    font-size: auto;
    padding: 8px;
}
/* ������ � ��������� enabled (��������) */
QPushButton#right_btn_accept:enabled {
    background-color: #283d3d;
    color: white;
}
/* ������ � ��������� disabled (����������) */
QPushButton#right_btn_accept:disabled {
    background-color: gray;
    color: lightgray;
}
/* ������ � ��������� pressed (������) */
QPushButton#right_btn_accept:pressed {
    background-color: #bfd7ed;
    color: white;
    /* ������������ ���� */
    border-radius: 15px;
    /* ������ ������ */
    font-size: auto;
    padding: 8px;
}
/*****End of Usage model stylesheets.******/



/*Cropper models styles:*/

/*Left:*/
QLabel#cropper_left_mainlabel {
    color: #283d3d;
    font-size: 10pt;
}

/*Right:*/
QLabel#cropper_right_browse_label {
    /*  #283d3d ������� ��� */
    background-color: #212121;
    /* ����� ����� */
    color: white;
    /* ������������ ���� */
    border-radius: 30px;
    /* ���������� ������� */
    padding: 15px;
    /* ������ ������ */
    font-size: auto;
}

QLabel#cropper_browse_text {
    /*  #283d3d ������� ��� */
    background-color: #212121;
    /* ����� ����� */
    color: white;
    /* ������������ ���� */
    border-radius: 30px;
    /* ���������� ������� */
    padding: 0px;
    /* ������ ������ */
    font-size: auto;
    margin: 0px;
}

QPushButton#cropper_browse_btn {
    /* �������� ��������� ������ */
    background-color: #283d3d;
    color: white;
    border-radius: 15px;
    font-size: auto;
    padding: 8px;
}
    QPushButton#cropper_browse_btn:hover {
        background-color: rgba(255,255,20,50);
        color: white;
    }
    QPushButton#cropper_browse_btn:pressed {
        background-color: #bfd7ed;
        color: white;
        /* ������������ ���� */
        border-radius: 15px;
        /* ������ ������ */
        font-size: auto;
        padding: 8px;
    }

QLabel#rot_crop_checking_label{
    /*  #283d3d ������� ��� */
    background-color: #212121;
    /* ����� ����� */
    color: white;
    /* ������������ ���� */
    border-radius: 30px;
    /* ���������� ������� */
    padding: 2px;
    /* ������ ������ */
    font-size: auto;
   
}

QRadioButton {
    color: white; 
    font-weight: 500; 
    spacing: 10px; 
}
    QRadioButton::indicator {
        width: 20px; 
        height: 20px;
        border-radius: 50%; 
        border: 5px solid orange; 
        background-color: lightyellow; 
    }
        QRadioButton::indicator:hover {
            background-color: #fffacd; 
        }
        QRadioButton::indicator:checked {
            background-color: #fffacd; 
            border: 5px solid green;
        }

QGroupBox#rot_groupBox {
    border-style: outset;
    border-width: 1px;
    border-color: #212121;
    margin: 2px;
    /*border: none;*/
    margin: 0;
    margin-top: 20px;
    padding: 0px;
    background-color: #212121;
}
    /*����� ����� ������������ ���������*/
    QGroupBox#rot_groupBox::title {
        background-color: transparent;
        border-width: 2px;
        padding: 5px;
        border: 0px;
        /*���� �������*/
        color: white;
    }


QTabWidget::pane {
    background: #212121;/* Ҹ���� ��� ���� ������� ������� */
    border: none; 
}


QTabBar::tab {
    background: #333;
    color: #ddd;
    min-width: 180px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #444;
    margin: 2px;
    max-width: 200px;
    /* padding: 10px 20px; ����������� �������������� ������� */
}

    QTabBar::tab:selected {
        background: #555;
        text-align: justify;
        color: #d19a66;
        font-weight: 500;
        border-bottom: 2px solid #d19a66;
    }

    QTabBar::tab:hover {
        background: #444;
    }

QLCDNumber {
    background: transparent; /* Transparent background */
    color: orange; /* Orange digits */
    font-size: 48pt;
    border: none;
    
    /* No border */
   
    padding: 0px 0px 0px 0px; /* �������� ����� ������ */
    font: 32pt "monospace"; /* ������������ ����� */
}


QPushButton#trans {
    background-color: transparent; /* ���������� ��� */

    border-width: 1px;
    border-color: transparent;
    border-radius: 20px;
}
    /* ����������� ����� �������� ������� ��� ��������� � �������: */
    QPushButton#trans:hover {
        background-color: rgba(255, 255, 0, 0.1); /* �������������� �����, ���� �������� */
        border-width: 1px;
        border-color: transparent;
        border-radius: 20px;
    }

    QPushButton#trans:pressed {
        background-color: #bfd7ed;

    }





QGroupBox#gbox_settings {
    /* ������ ������� � ��������� ���� */
    border: 4px solid #283d3d;
    border-radius: 5px;
    /* ������ ������, ����� ��������� ������������ ���������� */
    margin: 3px,3px,3px,3px;
    padding: 40px, 40px;
}

    /* ����������� ����� ��������� */
    QGroupBox#gbox_settings::title {
        /* ���� ������ */
        color: white;
        /* ���� ���� ��������� */
        background-color: transparent;
        /* ���������, ��� ��������� �������������� ������ ������� */
        /*subcontrol-origin: margin;
        subcontrol-position: top left;*/
        /* ���������� �������, ����� ����� ������� ������������ */
        padding: 10px, 10px,10px, 10px;
        margin-top: -3px;
    }

QDialog#setting_dialog {
    background-color: #212121;
    padding: 40px, 40px;
    margin-top: 20px;
}

/*****End of cropper model stylesheets.******/




/*****Begin of char model stylesheets.*******/
QTableWidget#dataTable {
    background-color: #2c2f33; /*Ҹ���� ��� */
    color: #FFFFFF; /* ����� ���� ������ */
    font-weight: bold; /* ���� ����� ������ ����� */
    border: none; /* ������� ������� ������ */
    gridline-color: #f9b37a;
    /* ����� ������� ���� ������ */
}

    /* �������������� ��������� (������� ������ X, Y...) */
#dataTable QHeaderView::section:horizontal {
    background-color: #283d3d;
    color: #FFFFFF;
    font-weight: bold;
    gridline-color: #f9b37a;
    /* ����� ������� ������ ����, ���� ����� */
}

    /* ������������ ��������� (������ � �������� ����� �����) */
#dataTable QHeaderView::section:vertical {
    background-color: #283d3d;
    color: #FFFFFF;
    font-weight: bold;

}

/* ������� ������ (����� ������� ����, ��� �������� ���������) */
#dataTable QTableCornerButton::section {
    background-color: #283d3d;
    border: 1px solid #283d3d;
}

/* ������������ ��������� ������� */
#dataTable QScrollBar:vertical {
    background-color: white; /* ����� ��� ���������� */
    width: 14px; /* ������ �������� (��������� ��� ����) */
    margin: 0px; /* ������� ��������� ������� */
    border: solid orange; /* ������� �����, ���� �� ����� */
}

/* ��� ��������� ������������� ������� */
#dataTable QScrollBar::handle:vertical {
    background-color: #f9b37a; /* ���� �������� */
    min-height: 25px; /* ����������� ������, ����� ���� ��� ������� */
    border: 1px orange; /* �������, ���� ����� */
}

/* ������ �������/����� �� ����� ���������� */
#dataTable QScrollBar::add-line:vertical,
#dataTable QScrollBar::sub-line:vertical {
    background-color: orange;
    border: 1px solid orange;
    height: 14px;

}

/* ���� ������ ������ ������ ������, ����� �� ��������:
#dataTable QScrollBar::add-line:vertical,
#dataTable QScrollBar::sub-line:vertical {
    height: 0;
}
*/

/* �������������� ��������� (���� �����) */
#dataTable QScrollBar:horizontal {
    background-color: white;
    height: 14px;
    margin: 0px;
    border: none;
}

#dataTable QScrollBar::handle:horizontal {
    background-color: #f9b37a;
    min-width: 10px;
    min-height: 15px;
    border: none;
}

#dataTable QScrollBar::add-line:horizontal,
#dataTable QScrollBar::sub-line:horizontal {
    background-color: #f9b37a;
    border: 5px solid green;
    width: 25px;
    subcontrol-origin: margin;
}

QPlainTextEdit {
    background-color: #40444a;
    color: white;
    font-weight: bold;
}


QGroupBox#settingframe {
    border-style: outset;
    border-width: 1px;
    border-color: transparent;
    margin: 2px;
    /*border: none;*/
    margin: 0;
    margin-top: 20px;
    padding: 0px;
    background-color: transparent;
}
    /*����� ����� ������������ ���������*/
    QGroupBox#settingframe::title {
        background-color: transparent;
        border-width: 2px;
        padding: 5px;
        border: 0px;
        /*���� �������*/
        color: white;
    }

QLabel#settingText {
    color: white;
}

