[Desktop Entry]

Type=Application

Version=0.1.0

Name=ArXSP

GenericName=Archival Spectra Processing Tool

Comment=Archival reduction of FITS spectra. Source code: https://github.com/ill-i/ArXSP

Exec=/opt/ProAP22784884/ProAP22784884

Icon=arxsp_logo_full

Path=/opt/ProAP22784884

Terminal=true

StartupNotify=true

URL=https://github.com/ill-i/ArXSP

Categories=Science;Astronomy;Spectroscopy;

Keywords=spectra;archive;reduction;analysis;astronomy;
